@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


body {
  margin: 0;
  padding: 0;
  background: black;
}


p {
  font-size: 21px;
}

#header {
  font-size:41.5px;
}

#content {
  text-decoration: none;
  text-shadow: #000 2px 2px;
  position: absolute;
  top: 0px;
  color: blue;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  color: #fff;
  text-transform: uppercase;
  width: 300px;
  /* by rea / loli-ware.tk */
}

#txt_1 {
  font-size: 18.9999999999999999999999999999999999999999999999px;
}

#txt_2 {
  font-size: 21.8px;
}

#bg_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#menu_btn {
  width: 260px;
  margin: 0;
  padding: 0;
  width: 300px;
  color: #fff;
  background-color: #000;
  box-sizing: border-box;
  transform-style: inherit;
  text-transform: uppercase;
  /* source code for education only */
}

.button {
position: relative;
text-align: center;
max-width: 300px;
color: #15f4ee;
font-family: 'Poppins', sans-serif;
font-weight: 400;
padding: 20px;
border: 5px solid #15f4ee;
text-transform: uppercase;
letter-spacing: 15px;
cursor: pointer;
border-radius: 100px;
transition: 2s;
}

.button:hover {
box-shadow: 0 5px 50px 0 #15f4ee inset, 0px 5px 50px 0 #15f4ee;
            0 5px 50px 0 #15f4ee inset, 0px 5px 50px 0 #15f4ee;
text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
}